button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1.8px;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  outline: none;
  transition: all 0.3s ease;
}
button:hover {
  letter-spacing: 5.4px;
}
button .btnLine_container {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 2px;
}
button .btnLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  background-color: #DEA46E;
  transition: all 0.3s ease;
}
button .btnLine.btnLine2 {
  z-index: -1;
  background-color: rgba(222, 164, 110, 0.3);
}
button .btnLine.btnLine1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #DEA46E;
  border-radius: 50%;
  transition: all 0.3s ease;
}
button:hover .btnLine1 {
  width: 0%;
}
button:hover .btnLine1::after {
  width: 5px;
  height: 5px;
}