#BgImageEvenement {
  width: 100%;
  height: 100%;
  background-image: url(../../Home/assets/evenement_backgroundImage.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
}

#domaineEvenement {
  position: relative;
  text-align: center;
}
#domaineEvenement h4 {
  margin-bottom: 25px;
}
#domaineEvenement h1 {
  margin-bottom: 75px;
}